body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}



header {
    color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(222, 222, 154);
}

nav a {
    color: darkgreen;
    padding: 14px 20px;
    text-align: center;
}


nav a:hover {
color: rgb(46, 116, 244)
}

img {
    padding: 8px;
}
.work > img:hover {
    padding: 20px;
    transform:scale(120%);
}

h2 {
    font-family: sans-serif;
    color: darkgreen;
}
h3 {
    font-size: small;
}

h3:hover {
    font-size: smaller;
    color: darkgreen;
}
p {
    font-family: sans-serif;
    color: darkgreen;
}



@media screen and (max-width: 768px){
    header {
        flex-direction: column;
    }
    
}
